<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="call-outline"></ion-icon> 095-767-0142 <br>
  <ion-icon name="mail-open-outline"></ion-icon> Cntdkm.kim <ion-icon name="at-outline"></ion-icon>gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> Chanantida Kim <br>
  <ion-icon name="logo-instagram"></ion-icon> Chanantida_a <br>
  <ion-icon name="logo-tiktok"></ion-icon> Chanantida_a <br>
</ion-content>
